$base-color: #eeb51e;
$base-color1: #eea51e;
$yello: #eeb51e;
$base-color2: #1b284e;
$text-color: #282828;
$para-color: #808080;
$green: #237253;
$white: #fff;
$twitter-color: #00acee;
$linkedin-color: #275ea5;
$google-color: #1877f2;
$bgColor: #f4f3ef;